@using MaProgramez.Resources
@{
    ViewBag.Title = Resource.ActivateAccountConfirmation_Title;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-container" style="width: 400px;">
    <div class="login-section">
        <div class="row">
            <div class="col-md-12" style="">
                <div class="form-horizontal">
                    <h4>@ViewBag.Title</h4>
                    <span style="font-size: 14px; color: #65717f;">@Resource.ActivateAccountConfirmation_Body</span>
                    <hr />
                    @Html.ActionLink(Resource.Continue, "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </div>
            </div>
        </div>
    </div>
</div>
