@using MaProgramez.Resources
@{
    ViewBag.Title = Resource.ExternalLogin_FailureTitle;
}

<div class="login-container" style="width: 400px;">
    <div class="login-section">
        <div class="row">
            <div class="col-md-12" style="">
                <h2>@Resource.ErrorView_Title</h2>
                <h3 class="text-danger">@Resource.ExternalLogin_FailureTitle</h3>
            </div>
        </div>
    </div>
</div>

