@using MaProgramez.Resources
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resource.LockedOutView_Title;
}

<hgroup>
    <h1 class="text-error">@Resource.LockedOutView_Title</h1>
    <h2 class="text-error">@Resource.LockedOutView_Content</h2>
</hgroup>
