<ion-modal-view>
    <ion-header-bar align-title="center">
        <h1 class="title text-center">{{'FORGOT_PASSWORD' | translate}}</h1>
        <div class="buttons">
            <button class="button button-icon button-clear button-small ion-close" ng-click="closePassword()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doPassword()">
            <div class="padding">

                <p class="subtext">
                    {{'FORGOT_PASSWORD_TEXT' | translate}}
                </p>

                <label class="item item-input">
                    <input type="text" placeholder="{{'EMAIL' | translate}}" ng-model="passwordData.email">
                </label>

                <button class="button button-block button-positive" type="submit">
                    {{'SEND_EMAIL' | translate}}
                </button>

            </div>
        </form>
    </ion-content>
</ion-modal-view>