<ion-view>
    <ion-nav-title>
        {{'MY_SETTINGS' | translate}}
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content class="menu-dark-content">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">{{'OLD_PASSWORD' | translate}}</span>
                <input type="password" ng-model="Password.OldPassword">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'PASSWORD' | translate}}</span>
                <input type="password" ng-model="Password.NewPassword">
            </label>
            <label class="item item-input">
                <span class="input-label">{{'CONFIRM_PASSWORD' | translate}}</span>
                <input type="password" ng-model="Password.ConfirmPassword">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-assertive" ng-click="ChangePassword()">
                {{'SAVE' | translate}}
            </button>
        </div>
    </ion-content>
</ion-view>