
@{
    ViewBag.Title = "Pay By Card";
}

<h2>Pay By Card</h2>
@if (string.IsNullOrEmpty(ViewBag.Message))
{
    <h4>Nu inchideti fereastra</h4>
}
else
{
    <h4>@ViewBag.Message</h4>
}

