@using MaProgramez.Repository.Entities
@model IEnumerable<Address>
@{
    Layout = null;
}

@if (Model != null)
{
    foreach (var address in Model)
    {
        <div id="AddressItem-@(address.Id)" class="address-box">
            @Html.Partial(MVC.Manage.Views.PartialViews._AddressListItem, address)
        </div>
    }
}
